---
import type { CollectionEntry } from "astro:content";
import { dateFormatter } from "@utils/general";
import LanguageTag from "./LanguageTag.astro";

interface Props {
  project: CollectionEntry<"projects">["data"];
  href: string;
}

const { project, href } = Astro.props;

const color: string = project.color ?? "oklch(82.8% 0.111 230.318)";
const colorDark: string = project.colorDark ?? "oklch(35.9% 0.144 278.697)";

const lang = project.languages?.at(0) ?? "";
---

<li
  class="relative mb-4 h-50 w-52 shrink-0 rounded-xl px-1 py-1 shadow-md select-none"
>
  <div class="absolute inset-0 -z-10">
    <div
      class="absolute inset-0 size-full rounded-xl bg-white object-cover dark:bg-gray-700"
    >
    </div>
    <div
      class="absolute inset-0 size-full rounded-xl bg-linear-to-t from-(--color)/20 from-10% to-transparent to-60% object-cover dark:from-(--colorDark)/40"
    >
    </div>
  </div>

  <a
    href={href}
    class="flex h-full flex-col justify-between hover:no-underline"
  >
    <div
      class="mx-2 my-1 flex justify-between text-gray-500 dark:text-gray-300"
    >
      <LanguageTag lang={lang} />
      <div class="m-0">{dateFormatter(project.date, true)}</div>
    </div>
    <p class="rounded-md px-2">
      {project.description}
    </p>
    <h2
      class="relative top-4 mx-auto rounded-lg bg-(--color) px-4 py-2 text-center text-lg font-extrabold whitespace-nowrap dark:bg-(--colorDark)"
    >
      {project.title}
    </h2>
  </a>
</li>

<style define:vars={{ color, colorDark }}></style>
