---
import type { CollectionEntry } from "astro:content";
import { dateFormatter } from "@utils/general";
import LanguageTag from "./LanguageTag.astro";

interface Props {
  project: CollectionEntry<"projects">["data"];
  href: string;
}

const { project, href } = Astro.props;

const color: string = project.color ?? "oklch(82.8% 0.111 230.318)";
const colorDark: string = project.colorDark ?? "oklch(35.9% 0.144 278.697)";

const lang = project.languages?.at(0) ?? "";
---

<li
  class="flex-shrink-0 w-52 h-50 rounded-xl py-1 px-1 mb-4
bg-white dark:bg-gray-700 shadow-md select-none"
>
  <a
    href={href}
    class="flex flex-col h-full hover:no-underline justify-between"
  >
    <div
      class="flex justify-between my-1 mx-2 text-gray-500 dark:text-gray-300"
    >
      <LanguageTag lang={lang} />
      <div class="m-0">{dateFormatter(project.date, true)}</div>
    </div>
    <p class="px-2 rounded-md">
      {project.description}
    </p>
    <h2
      class="font-extrabold mx-auto px-4 whitespace-nowrap text-center bg-(--color) dark:bg-(--colorDark) rounded-lg py-2 text-lg relative top-4"
    >
      {project.title}
    </h2>
  </a>
</li>

<style define:vars={{ color, colorDark }}></style>
