---
interface Props {
  name: string;
  color?: string;
}

const { name, color } = Astro.props;
---

<li
  class="font-bold px-2 rounded-sm bg-(--color) text-(--background) dark:bg-(--background) dark:text-(--color)"
>
  {name}
</li>

<style define:vars={{ color }}></style>
