@import "tailwindcss";

:root {
    --color: black;
    --background: white;
    --colorDark: white;
    --backgroundDark: black;
    --shadow: rgba(0, 0, 0, 0.33) 0 0.25rem 0.5rem;
}

*::selection {
    background-color: var(--color);
    color: var(--background);
}

@media (prefers-color-scheme: dark) {
    ::selection {
        background-color: var(--colorDark);
        color: var(--backgroundDark);
    }
}

/* fix for astro-iconify */
svg[astro-icon] {
    height: 1.25em;
    fill: none;
    stroke: var(--colorDark);
}
