article > * {
    margin-bottom: 0.5rem;
}

article h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

article img {
    object-fit: contain;
    max-width: min-content;
    max-height: min-content;
    width: 100%;
    height: fit-content;

    display: block;
    margin: 1rem auto;

    box-shadow: var(--shadow);
    border-radius: 0.5rem;
}

article :not(pre) code {
    color: gray;
}

article pre {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-bottom: 1rem;
}

article li {
    margin-left: 2rem;
    margin-bottom: .5rem;
}

article ul li {
    list-style: disc;
}

article ol li {
    list-style: decimal;
}

article a:hover {
    text-decoration: underline;
}