---
import BaseLayout from "@layouts/BaseLayout.astro";
import Intro from "@components/Intro.astro";
import Button from "@components/Button.astro";
---

<BaseLayout
  title="404: Page not found"
  background="#fef2f2"
  color="#7f1d1d"
  backgroundDark="#450a0a"
  colorDark="#fecaca"
>
  <main
    class="flex h-screen w-full flex-col items-center justify-center align-middle"
  >
    <h1
      class="text-8xl font-black text-red-500 text-shadow-lg text-shadow-red-500"
    >
      You are lost.
    </h1>
    <Intro title="">
      Your journey guided you beyond the content of the website. Should you have
      reached this site using a link from a website at
      <a href="https://l0drex.github.io" class="underline">l0drex.github.io</a>,
      please report this issue using the provided button, including where you
      found that link and where it led you.
    </Intro>

    <Button href="/" label="Return Home" icon="mdi:home" />
    <Button
      href="https://github.com/l0drex/l0drex.github.io/issues/new"
      label="Report an issue"
      icon="mdi:bug"
    />
  </main>
</BaseLayout>
