---
import BaseLayout from "@layouts/BaseLayout.astro";
import Intro from "@components/Intro.astro";
import Button from "@components/Button.astro";
---

<BaseLayout title="404: Page not found" background="#fef2f2" color="#7f1d1d">
    <main class="flex flex-col justify-center w-full items-center align-middle h-screen">
        <Intro title="Page not found">
            Sorry, we couldn't find the page you were looking for. <br/>
            If a link from this page let you here, please report it.
        </Intro>

        <Button href="/" label="Return Home" icon="mdi:home" />
        <Button href="https://github.com/l0drex/l0drex.github.io/issues/new" label="Report an issue" icon="mdi:bug" />
    </main>
</BaseLayout>
