---
import Layout from "../layouts/Layout.astro";
import { GithubIcon, LinkedinIcon, MessageSquareIcon, MailIcon } from 'astro-feather';
import Nav from "../components/Nav.astro";

const size = 24 * 1.5;
---

<Layout title="/contact" color="lightblue">
    <main>
        <Nav direction="row"/>
        <div id="content">
            <h1>Contact me!</h1>

            <ul class="contacts">
                <li><a href="https://github.com/l0drex">
                    <GithubIcon size={size}/>
                    GitHub
                </a></li>
                <li><a href="https://www.linkedin.com/in/lorenz-hoffmann-316684215">
                    <LinkedinIcon size={size}/>
                    LinkedIn
                </a></li>
                <li><a href="https://dresden.network/@l0drex">
                    <MessageSquareIcon size={size}/>
                    Mastodon
                </a></li>
                <li><a href="mailto:hoffmann_lorenz@proton.me">
                    <MailIcon size={size}/>
                    Mail
                </a></li>
            </ul>
        </div>
        <img id="background" src="/contact_page.webp" />
    </main>
</Layout>

<style>
main {
    min-height: 100%;
}

#background {
    width: 100vw;
    position: absolute;
    top: 25rem;
    bottom: 0;
}

#content {
    position: fixed;
    z-index: -1;
    width: 100vw;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.contacts {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    max-width: 30rem;
    margin: 0 auto;
    padding: 0;
}

a {
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
}
</style>