---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const size = 0.75 * 24;
---

<Layout title="/home/" background="white" backgroundDark="black" color="black" colorDark="white">
    <h1 class="mt-56">Welcome to my Homepage!</h1>
    <p class="my-0 mx-4 max-w-lg text-center">
        I am a master student of media computer science in Dresden, Germany. My
        study focuses on Virtual and Augmented Reality.
    </p>
    <ul class="flex list-none gap-4 my-8 p-0 justify-center items-center flex-col sm:flex-row">
        <li>
            <a href="https://github.com/l0drex" class="button">
                <Icon name="mdi:github" size={size} />
                GitHub
            </a>
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/lorenz-hoffmann-316684215"
                class="button"
            >
                <Icon name="mdi:linkedin" size={size} />
                LinkedIn
            </a>
        </li>
        <li>
            <a href="https://dresden.network/@l0drex" rel="me" class="button">
                <Icon name="mdi:mastodon" size={size} />
                Mastodon
            </a>
        </li>
        <li>
            <a href="mailto:hoffmann_lorenz@proton.me" class="button">
                <Icon name="mdi:email" size={size} />
                Mail
            </a>
        </li>
    </ul>
</Layout>
