---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const size = 0.75 * 24;
---

<Layout title="/home/">
    <h1>Welcome to my Homepage!</h1>
    <p>
        I am a master student of media computer science in Dresden, Germany. My
        study focuses on Virtual and Augmented Reality.
    </p>
    <ul>
        <li>
            <a href="https://github.com/l0drex" class="button">
                <Icon name="mdi:github" size={size} />
                GitHub
            </a>
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/lorenz-hoffmann-316684215"
                class="button"
            >
                <Icon name="mdi:linkedin" size={size} />
                LinkedIn
            </a>
        </li>
        <li>
            <a href="https://dresden.network/@l0drex" rel="me" class="button">
                <Icon name="mdi:mastodon" size={size} />
                Mastodon
            </a>
        </li>
        <li>
            <a href="mailto:hoffmann_lorenz@proton.me" class="button">
                <Icon name="mdi:email" size={size} />
                Mail
            </a>
        </li>
    </ul>
</Layout>

<style>
    h1 {
        margin-top: 15%;
    }

    p {
        margin: 0 1em;
        max-width: 500px;
        text-align: center;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        margin: 2rem 0 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @media (min-width: 600px) {
        ul {
            flex-direction: row;
        }
    }
</style>
