---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  label: string;
  icon: string;
}

const { href, label, icon } = Astro.props;
---

<a
  href={href}
  class="mt-1 mb-3 inline-flex items-center gap-1 rounded-full border border-gray-300 bg-gray-50 px-4 py-2 shadow-md transition-all select-none hover:scale-105 hover:no-underline hover:shadow-lg dark:border-gray-600 dark:bg-gray-800 dark:shadow-none"
>
  {label}
  <Icon name={icon} />
</a>
