---

---

<div
  class="relative mb-4 size-full overflow-hidden rounded-xl border border-gray-300 shadow-md select-none dark:border-gray-600"
>
  <div class="absolute inset-0 -z-10 size-full">
    <slot name="background" />
  </div>

  <slot />
</div>
