---
import {HomeIcon, PackageIcon} from "astro-feather"

interface Props {
  direction: "row" | "column";
  color: string;
  darkColor: string;
}

const {direction = "row", color = "black", darkColor = color} = Astro.props;

---

<nav>
    <a href="/"><HomeIcon /></a>
    <a href="/projects"><PackageIcon /></a>
</nav>

<style define:vars={{direction: direction}}>
nav {
    display: flex;
    flex-direction: var(--direction);
    gap: 1rem;
    margin: 1rem;
    float: left;
    position: fixed;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
</style>