---
import {HomeIcon, PackageIcon} from "astro-feather"

interface Props {
  direction: "row" | "column";
  color?: string;
  darkColor?: string;
}

const {direction = "row", color = "black", darkColor = Astro.props.color ?? "black"} = Astro.props;

---

<nav id="navbar">
    <a href="/"><HomeIcon /></a>
    <a href="/projects"><PackageIcon /></a>
</nav>

<style define:vars={{direction: direction, color: color, darkColor: darkColor}}>
nav {
    display: flex;
    flex-direction: var(--direction);
    gap: 1rem;
    margin: 1rem;
    float: left;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

</style>

<style is:global>
#navbar svg {
    stroke: var(--color) !important;
}

@media (prefers-color-scheme: dark) {
    #navbar svg {
        stroke: var(--darkColor) !important;
    }
}
</style>