---
import { dateFormatter } from "@utils/general.ts";
interface Props {
  title: string;
  date: Date;
  href: string;
}

const { title, date, href } = Astro.props;
---

<li class="mb-4">
  <span
    class="mr-8 inline-block w-32 text-right font-mono text-gray-500 dark:text-gray-400"
    >{dateFormatter(date)}</span
  >
  <a href={href} class="hover:underline">{title}</a>
</li>
