---
import { dateFormatter } from "../utils/general";
import JourneyType from "@components/TypeIcon.astro";
import Intro from "../components/Intro.astro";

const { frontmatter } = Astro.props;

const date = dateFormatter(frontmatter.date ?? new Date());
---

<Intro title={frontmatter.title}>
    <div class="text-center mb-8 text-2xl sm:text-3xl inline-flex gap-2">
        {(<JourneyType type={frontmatter.type} />)}
        {(frontmatter.type && date) && "·"}
        <span>{date}</span>
    </div>
</Intro>

<div id="container">
    <slot name="details" />

    <article class="mx-auto content">
        <slot />
    </article>

    <slot name="references" />
</div>
