---
import { dateFormatter } from "../utils/general";
import TypeIcon from "@components/TypeIcon.astro";
import Intro from "../components/Intro.astro";
import { capitalizeFirstLetter } from "@utils/general.ts";

const { frontmatter } = Astro.props;

const date = dateFormatter(frontmatter.date ?? new Date());
---

<Intro title={frontmatter.title}>
  <span class="inline-flex gap-2 text-center text-2xl sm:text-3xl">
    <TypeIcon type={frontmatter.type} />
    {capitalizeFirstLetter(frontmatter.type)}
    {frontmatter.type && date && "·"}
    <span>{date}</span>
  </span>
</Intro>

<slot name="details" />

<article
  class="prose dark:prose-invert prose-img:rounded-lg prose-img:shadow-lg prose-img:mx-auto prose-li:marker:text-gray-500 dark:bg-unset mx-auto max-w-3xl rounded-lg"
>
  <slot />
</article>

<slot name="references" />
