---
import "@styles/global.css";
import { Icon } from "astro-icon/components";
import NavElement from "../components/NavElement.astro";


interface Props {
  title: string;
  background: string;
  color: string;
  backgroundDark: string;
  colorDark: string;
}

let {title, background, backgroundDark, color, colorDark} = Astro.props;

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Personal website of Lorenz Hoffmann"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="theme-color" content={background} media="(prefers-color-scheme: light)"/>
    <meta name="theme-color" content={backgroundDark} media="(prefers-color-scheme: dark)"/>
    <title>{title}</title>
</head>

<body class="flex flex-col justify-between min-h-screen font-sans">
<header class="fixed w-full">
    <nav class="flex gap-2 justify-around shadow-lg">
        <NavElement href="/" icon="mdi:home" label="Home"/>
        <NavElement href="/projects" icon="mdi:package" label="Projects"/>
        <NavElement href="/tech" icon="mdi:code" label="Tech"/>
        <NavElement href="https://l0drex.github.io/travel" icon="mdi:map" label="Travel"/>
        <NavElement href="https://portfolio.pixelfed.social/lh4tography" icon="mdi:camera" label="Photography"/>
    </nav>
</header>

<main class="flex flex-col items-center mt-10">
    <slot/>
</main>
<footer class="flex justify-center m-2">
    <a href='https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement'>Privacy Notice</a>
</footer>
</body>
</html>

<style is:global define:vars={{background, backgroundDark, color, colorDark}}>
</style>
